<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "編集", edit_post_path(@post) %> |
  <%= link_to "一覧へ", posts_path %>

  <%= button_to "削除", @post, method: :delete %>
</div>
